<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <add key="google_clientId" value="754747127257.apps.googleusercontent.com" />
    <add key="google_clientEmail" value="754747127257@developer.gserviceaccount.com" />
    <add key="google_clientSecret" value="2pCJXZ6g5Ki4TS4xax2BnPLh" />
    <add key="google_RedirectUrl" value="http://www.businesstvafrica.com/gnwble/logintest/LoginWithGoogle.aspx" />
    <add key="google_JavaScriptOrigin" value="http://www.businesstvafrica.com/gnwble" />
  </appSettings>  
  
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>

</configuration>
